<%- include('partials/header'); -%>


    <div class="about-us">
        <h3>About the Developer</h3>
        Hi everyone, I'm Vikrant, a 2nd year Electronics Engineering student from IIT (BHU), Varanasi.
        <br>
        Like you, I'm also a anime fan.
        And I'm being the fan of Dragon Ball with <br> Goku being the favourite character.
        <br>
        This blog website is my very project with backend.
        <br>
        Hope you all will enjoy sharing your thoughts about your favourite Anime
        <br>
        Kindly share your reviews about it.
        <br><br><br>
        <h3>Connect with the Developer</h3>
        
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=153virantkumar@gmail.com&su=SUBJECT&body=BODY" target="_blank" class="fa fa-google"></a>

        <!-- <a href="153virantkumar@gmail.com" class="fa fa-google"></a> -->
        <a href="https://www.instagram.com/_vikrant__/" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/vikrant-kumar-73bab2206/" class="fa fa-linkedin"></a>
        
    </div>

    
<%- include('partials/footer'); -%>